.main1{
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:rgb(162, 137, 186)
}
.main2{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
    color: blanchedalmond;
}
.link2{
    text-align:right;
}
